body { 
    background: url('Resident-Evil-Villagehomme.jpg');
    font-family: 'Times New Roman', Times, serif;  
    background-size: cover;
}

.encadrement{
    top: 29%;
    width: 27%;
    height: 70%;
    width: 32%;
}

.titreHUn{
    position: fixed;
    color: rgb(43, 4, 4);
    font-family: 'Nosifer', serif;
    text-shadow: 2px 2px 5px black;
    font-size: 30px;
}

.login_label {
    color: rgb(43, 4, 4);
    top: 53.5%;
    left: 40%;
    text-shadow: 2px 2px 5px black;
    font-size:15px;
}
.login_label1 {
    color: rgb(43, 4, 4);
    top: 67%;
    left: 46.2%;
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
}

.login_label2 {
    color: rgb(43, 4, 4);
    top: 53.5%;
    left: 47.2%;
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
}

.login_label3 {
    color: rgb(43, 4, 4);
    top: 53.5%;
    left: 54.2%;
    text-shadow: 2px 2px 5px black;
    font-size: 15px;
}



.login_label6 {
    background-color: rgba(48, 48, 48, 0.5); 
    color: rgb(43, 4, 4);
    top: 61%;
    left: 40%;
    text-shadow: 2px 2px 5px black;
    font-size: 10px;
}

.login_input {
    background-color: rgba(48, 48, 48, 0.5); 
    color: rgb(143, 0, 0); 
    top: 55.5%;
    width: 5.5%;
    left: 40%;
    height: 3%;
}

.login_input1 {
    background-color: rgba(48, 48, 48, 0.5);  
    color: rgb(143, 0, 0); 
    top: 69%;
    width: 8%;
    height: 3%;
    left: 46.1%;
}

.login_input2{
    background-color: rgba(48, 48, 48, 0.5);  
    color: rgb(143, 0, 0); 
    top: 55.5%;
    width: 5.5%;
    left: 47.2%;
    height: 3%;
}

.login_input3{
    background-color: rgba(48, 48, 48, 0.5);  
    color: rgb(143, 0, 0); 
    top: 55.5%;
    width: 5.5%;
    left: 54.2%;
    height: 3%;
}
.login_input4{
    background-color: rgba(48, 48, 48, 0.5);  
    color: rgb(143, 0, 0); 
    top: 69.2%;
    width: 5.5%;
    left: 39%;
}

.login_input6{
    background-color: rgba(48, 48, 48, 0.5);  
    color: rgb(143, 0, 0); 
    top: 61%;
    width: 17.8%;
    height: 3%;
    left: 42%;
}

h5{
    top: 67.5%;
    left: 41.5%;
    font-size: 70%;
    color: rgb(81, 2, 2);
}

h4{
   top: 70%;
   left: 41.5%;
   font-size: 70%;
   color: rgb(81, 2, 2);
}

.login-btn {
    background-color: #4e0202; 
    font-family: 'Creepster', cursive;
    top: 75%;
    left: 43.5%;
    color: black;
    font-family: 'Nosifer', serif;;
    font-size: 12px;
}
h6{
   color: rgb(43, 4, 4);
   top: 59.2%;
   left: 40%;
   text-shadow: 2px 2px 5px black;
   font-size: 15px;
}

.message-erreur-orange {
    background-color: #f48484; 
    color: #b60000;            
    border: 1px solid #652201; 
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 0.375rem;
    position: relative; 
    top: -10%;
    z-index: 2;
}